<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Lv 2</title>
</head>
<body>
    <div class="container">
        <h1>1. Line Graph</h1>
        <%- include('lv2_graphs/line') %>
        <h1>2. Filled Line Graph</h1>
        <%- include('lv2_graphs/filled_line') %>
        <h1>3. Bar Graph</h1>
        <%- include('lv2_graphs/bar') %>
        <h1>4. Stack Bar</h1>
        <%- include('lv2_graphs/stackBar') %>
        <h1>5. Radar Chart (x-axis: true, y-axis: true)</h1>
        <%- include('lv2_graphs/radar') %>
        <h1>6. Radar Chart 2 (x-axis: false, y-axis: false)</h1>
        <%- include('lv2_graphs/radar2') %>
        <h1>7. Bubble Chart</h1>
        <%- include('lv2_graphs/bubble') %>
        <h1>8. Mixed Chart</h1>
        <%- include('lv2_graphs/mixed') %>
        <h1>9. donught chart</h1>
        <%- include('lv2_graphs/donught') %>
        <h1>10. Horizontal Bar</h1>
        <%- include('lv2_graphs/horizontal_bar') %>
    </div>
</body>
</html>